<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% comment %} <link rel="stylesheet" href="/stylesheets/style.css"> {% endcomment %}
    </head>
    <body>
        <div>
            <h3>
                Please give your blog a title.
            </h3>
            <textarea name="Title" cols="40" rows="1"></textarea>
        </div>
        <div>
            <h3> 
                NOW WRITE! 
            </h3>
            <textarea name="Text1" cols="40" rows="5"></textarea>
        </div>
    <div>
    <form action="/" method="POST">
            <button>Add blog</button>
    </form>
    <form action="/" method="GET">
            <button>Cancel</button>
    </form>
    </div>
    </body>
</html>